<nav>
  <div id="avatar">
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  </div>

  <div id="social">
    {% include social.html %}
  </div>

  <div id="bio">
    <p>Reality, with all its ambiguities, does the job just fine. <a href='http://edge.org/documents/archive/edge249.html#dysong'>-</a> GEORGE DYSON</p>
  </div>

</nav>
